<div class="main">
    <form action="/" method="get" class="form" id="form-1">
        <h3 class="form_heading">Thêm bài hát mới vào danh sách nhạc</h3>
        <div class="spacer"></div>
        <div class="form-group ">
            <label for="namesong" class="form-label">Tên bài hát</label>
            <input id="namesong" name="name" type="text" placeholder="VD: Hãy trao cho anh" class="form-control">
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <label for="namesinger" class="form-label">Tên ca sĩ và ban nhạc</label>
            <input id="namesinger" name="singer" type="text" placeholder="VD: Sơn Tùng" class="form-control">
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <label for="imgsong" class="form-label">Nguồn ảnh</label>
            <input id="imgsong" name="img" type="text" placeholder="VD: Đường dẫn trên internet" class="form-control">
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <label for="coursessong" class="form-label">Chọn nguồn nhạc</label>
            <input id="coursessong" name="path" type="text" placeholder="VD: Audio tải trên www.y2mate.com"
                class="form-control">
            <span class="form-message"></span>
        </div>
        <button class="form-submit">Tải lên</button>
    </form>
    <div class="player ">
        <div class="dashbaoard">
            <div class="dashbaoard_action">
                <div class="btn upload-btn">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                </div>
                <div class="btn search-btn">
                    <i class="fa-solid fa-magnifying-glass "></i>
                </div>
                <div class="search_options">
                    <div class="btn mic-btn">
                        <i class="fa-solid fa-microphone start "></i>
                        <i class="fa-solid fa-microphone-slash stop"></i>
                    </div>
                    <div class="btn upload_record-btn">
                        <i class="fa-solid fa-file-import"></i>
                        <input type="file" style="display: none;" class="upload_record-input" accept="audio/*" capture>
                    </div>
                    <div class="list_songs-search">
                    </div>
                    <audio class="auidorecord" controls style="top: -62px; position: absolute;left: 163%;"
                        src=""></audio>
                </div>

            </div>

            <div class="dashbaoard_header">
                <h4 class="dashbaoard_header-playing">playing now:</h4>
                <h4 class="dashbaoard_header-name">Hãy trao cho anh</h4>
            </div>

            <div class="dashbaoard_cd">
                <div class="dashbaoard_cd-thumer"
                    style="background-image:url(https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/3/9/7/f/397fa7870c36a3114115b743f20d0b27.jpg) ;">
                </div>
            </div>
            <div class="dashbaoard_control">
                <div class="btn btn-repeat">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </div>
                <div class="btn btn-back">
                    <i class="fa-solid fa-backward-step"></i>
                </div>
                <div class="btn btn-play">
                    <i class="fa-solid fa-circle-play play"></i>
                    <i class="fa-solid fa-circle-pause pause"></i>
                </div>
                <div class="btn btn-next">
                    <i class="fa-solid fa-forward-step"></i>
                </div>
                <div class="btn btn-randum">
                    <i class="fa-solid fa-shuffle"></i>
                </div>
            </div>
            <input type="range" id="dashbaoard_range" class="dashbaoard_range" value="0" step="0.01" min="0" max="100">
            <audio src="" id="audio"></audio>
            <div class=" volume">
                <span class="material-symbols-outlined volume_up">
                    volume_up
                </span>
                <span class="material-symbols-outlined volume_off">
                    volume_off
                </span>
                <input type="range" id="volume_audio" class="volume_audio" value="0.7" step="0.1" min="0" max="1">
            </div>
        </div>
        <div class="playlist">
            {{#if songs}}
            {{#each songs}}
            <div class="song" data={{ @index}} data2={{this.song_id}}>
                <div class="playlist__song">
                    <div class="playlist__song-img" style="background-image:url({{this.img}})">
                    </div>
                </div>
                <div class="playlist__song-decri">
                    <h3 class="playlist__song-title">{{this.name}}</h3>
                    <p class="playlist__song-author">{{this.singer}}</p>
                </div>
                <div class="playlist__song-option">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>

        <div class="btn  btn-delete ">
            <i class="fa-regular fa-delete-left fas delete_icon "></i>
        </div>
    </div>
</div>